@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Outfit:wght@200;300;400;500;600;700&display=swap');

/*---------------------------------------------- Login ---------------------------------------------------*/

body{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    font-family: 'Outfit';
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
}

.main{
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: #f8f8f8;
    margin: 100px auto;
    margin-bottom: 30px;
    width: 350px;
    height: 450px;
    display: flex;
    overflow: hidden;
    transition: 1.5s;
}

.main.act{
    margin-top: 30px;
    height: 550px;
}

.main form{
    text-align: center;
    margin: 10px auto;
}

.main form h2{
    color: #f0932b;
}

.main form .inputs{
    margin-top: 20px;
}

.main form input{
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    width: 230px;
    padding: 10px;
    margin: 10px;
}

.main form .ingresar{
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
    margin-top: 25px;
    height: 35px;
    width: 150px;
    padding: 8px;
    transition: 1s;
}

.main form .ingresar:hover{
    height: 35px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #0984e3;
}

.main form a{
    cursor: pointer;
    color: #f0932b;
    text-decoration: none;
}


.main form a:link,.main form a:visited{
    color: #0984e3;
}

/*------------------------------------------------ Alerta ----------------------------------------------*/

.alerta{
    border: 1px solid #d63031;
    background-color: #da5858;
    height: 30px;
    width: 100%;
    display: none;
}

.alerta.act{
    display: block;
}

.alerta p{
    color: #fff;
    margin-left: 10px;
    margin-top: 4px;
}

.volver{
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
    height: 35px;
    width: 80px;
    position: fixed;
    top: 40px;
    left: 70px;
    color: black;
    transition: 0.5s;
}

.volver:hover{
    color: #fff;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #d63031;
}

/*---------------------------------------- RESPONSIVE ----------------------------------------*/

@media (min-width: 360px) and (max-width: 760px){

    body{
        background-size: 110% 150%;
    }

    .mainR{
        margin-left: 30px;
        margin-right: 30px;
    }

    .volver{
        right: 270px;
        top: 10px;
    }
}

@media (min-width: 761px) and (max-width: 1168px) { 

    body{
        background-size: 110% 110%;
    }

    .mainR{
        margin-left: 200px;
    }

    .volver{
        right: 600px;
        top: 30px;
    }
 }